{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <!-- http://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone -->
    <meta http-equiv="cleartype" content="on">
    <title>Mercedes Español Flashcards {% block title %}{% endblock %}</title>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'modal.css' %}" />
    {% endcompress %}

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <link rel="apple-touch-icon" href="{% static 'icon/ios/AppIcon.appiconset/Icon-60@3x.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'icon/ios/AppIcon.appiconset/Icon-76.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'icon/ios/AppIcon.appiconset/Icon-60@2x.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'icon/ios/AppIcon.appiconset/Icon-76@2x.png' %}">

    <link rel="icon" sizes="192x192" href="{% static 'icon/android/drawable-xxxhdpi/ic_launcher.png' %}">
    <link rel="icon" sizes="144x144" href="{% static 'icon/android/drawable-xxhdpi/ic_launcher.png' %}">

</head>

<body>
<div id="header">
    <div id="toolbar">
        <div class="header-element">
            <a href="{% url 'cards:cardlist_index' %}">
                <img id="header-logo" src="{% static 'logo_flashcards-100.png' %}"/>
            </a>
        </div>
        {% if user.is_authenticated %}
            <div class="header-element">
                <a href="{% url 'accounts:profile' %}"><i class="fa fa-user"></i> {{ user.get_username }}</a>
            </div>
            <div class="header-element">
                <a href="{% url 'logout' %}"><i class="fa fa-power-off"></i> logout</a>
            </div>
        {% endif %}

        {% block header %}{% endblock %}

        {% if user.is_superuser or user.is_staff %}
            <div class="header-element">
                <a href="{% url 'admin:index' %}"><i class="fa fa-cog"></i> admin</a>
            </div>
        {% endif %}
        <div class="header-element">
            <a href="//www.mercedes-espanol.ch"><i class="fa fa-home"></i> back to website</a>
        </div>

    </div>

    <div id="contenttitle">
        {% block content_title %}{% endblock %}
    </div>

    {% if messages %}
        <div id="messages">
            {% for message in messages %}
                <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                    </span>
            {% endfor %}
        </div>
    {% endif %}
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>


<script>
    $( document ).ready(function() {
        jQuery('.empty-on-click').on('click', function () {
            jQuery(this).val("");
        })
    })
</script>

<div class="overlay"></div>
<div id="modal"></div>

</body>

</html>
