{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on">
    <title>{% block title %}Flashcard App{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Kotta+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
<div id="header">{% block header %}{% endblock %}</div>
<div id="content">
    <div id="contenttitle">{% block content_title %}{% endblock %}</div>
    <div id="error_msg">{% block error_msg %}{% endblock %}</div>
    {% block content %}{% endblock %}</div>
</body>

</html>
