{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Flashcard App{% endblock %}</title>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Kotta+One' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
</head>

<body>
<div id="header">{% block header %}{% endblock %}</div>
<div id="menu">Menu</div>
<div id="content"><div id="contenttitle">{% block content_title %}{% endblock %}</div>

{% block content %}{% endblock %}</div>
</body>

</html>
