{% extends "base.html" %}

<title>{% block title %}{{ cardlist_name }}{% endblock %}</title>

{% block header %}
    <div class="header-element">
        <a href="{% url 'cards:cardlist_index' %}"><i class="fa fa-home"></i> home</a>
    </div>
{% endblock %}

{% block content_title %}<h1>{{ cardlist_name }}</h1>{% endblock %}

{% block error_msg %}{% if error_msg %}<div id="error_msg">{{ error_msg }}</div>{% endif %}{% endblock %}

{% block content %}
    <div id="card-list">
        {% if card_list %}


            {% for card in card_list %}
                <div class="card flip-container fliponclick noselect">
                    <div class="card-helper flipper">
                        <div class="card_question front"><div class="valign">{{ card.card_question }}</div></div>
                        <div class="card_answer back"><div class="valign">{{ card.card_answer }}</div></div>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            <div class="text-content"><p>This stack doesn't contain any cards.</p></div>
        {% endif %}

        {% if show_newcard %}

            <div class="card newcard noselect">
                <div class="card-helper flipper">
                    <form action="{% url 'cards:addcard' cardlist_id %}" method="post">
                        {% csrf_token %}
                        <div class="card_question front">
                            <div class="valign">
                                <textarea class="empty-on-click" rows=1 name="card_question" value="" >add a card</textarea>
                                <i class="fc-next fa fa-share"></i>
                            </div>
                        </div>
                        <div class="card_answer back">
                            <div class="valign">
                                <textarea class="empty-on-click" rows=1 name="card_answer">answer</textarea>
                                <button class="small-button fc-submit" type="submit"><i class="fa fa-paper-plane"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>

    {% if show_cardlist_crud %}
        <div class="cardlist-delete-cardlist">
            <a class="big-button" href="{% url 'cards:deletecardlist' cardlist_id %}">remove this stack</a>
        </div>
    {% endif %}

    <script>
        $( document ).ready(function() {
            jQuery('.fliponclick').on('click', function(e) {
                var target = jQuery(e.target).prop('tagName');
                if ( target != 'TEXTAREA') {
                    jQuery(this).toggleClass('flip');
                }
            });

            jQuery('.fc-next').on('click',  function(e) {
                jQuery(this).parents('.newcard').toggleClass('flip');
            });

            $('textarea').on('keyup', function() {
                $(this).css('height', 'auto').height($(this).prop('scrollHeight'));
            });
        });

    </script>
{% endblock %}
