{% extends "base.html" %}

<title>{% block title %}{{ cardlist_name }}{% endblock %}</title>

{% block header %}
    <div class="header-element">
        <a href="{% url 'cards:cardlist_index' %}"><i class="fa fa-align-justify"></i> all cardlists</a>
    </div>
{% endblock %}

{% block content_title %}<h1>{{ cardlist_name }}</h1>{% endblock %}

{% block error_msg %}{% if error_msg %}<div id="error_msg">{{ error_msg }}</div>{% endif %}{% endblock %}

{% block content %}
    <div id="card-list">
        {% if card_list %}


            {% for card in card_list %}
                <div class="card flip-container fliponclick noselect">
                    <div class="card-helper flipper noselect">
                        <div class="card_answer back noselect"><div class="valign">{{ card.card_answer }}</div></div>
                        <div class="card_question front noselect">
                            {% ifequal card.is_new True %}
                                <div class="is-new"><span class="noselect" title="This card has recently been added to the stack.">NEW</span></div>
                            {% endifequal %}
                            {% if modifiable_cardlists %}
                                <div class="copyto-cardlist non-flippable"><i class="small-button fa fa-files-o"></i></div>
                                <div class="copyto-cardlist-list non-flippable">

                                    <p>Copy this card into:</p>
                                    <ul>
                                        {% for cardlist in modifiable_cardlists %}
                                            <li class="fa-cardlist-icon"><a href="{% url 'cards:copycardto' cardlist_id card.id cardlist.id %}">{{ cardlist.cardlist_name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="valign">{{ card.card_question }}</div>


                        </div>

                    </div>
                </div>
            {% endfor %}

        {% else %}
            <div class="text-content"><p>This stack doesn't contain any cards.</p></div>
        {% endif %}

        {% if show_newcard %}

            <div class="card flip-container newcard noselect">
                <div class="card-helper flipper">
                    <form action="{% url 'cards:createcard' cardlist_id %}" method="post">
                        {% csrf_token %}
                        <div class="card_answer back">
                            <div class="valign">
                                <textarea class="empty-on-click" rows=1 name="card_answer">answer</textarea>
                                <button class="small-button fc-submit" type="submit"><i class="fa fa-paper-plane"></i></button>
                            </div>
                        </div>
                        <div class="card_question front">
                            <div class="valign">
                                <textarea class="empty-on-click" rows=1 name="card_question" value="" >add a card</textarea>
                                <i class="fc-next fa fa-share"></i>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        {% endif %}
    </div>

    {% if show_cardlist_crud %}
        <div class="cardlist-delete-cardlist">
            <a class="big-button" href="{% url 'cards:deletecardlist' cardlist_id %}">remove this stack</a>
        </div>
    {% endif %}


    <script>
        $( document ).ready(function() {
            jQuery('.fliponclick').on('click', function(e) {
                var target = jQuery(e.target);
                //console.log(target.attr('class'))
                //console.log(jQuery(target).parents('.non-flippable'))
                if ( !(jQuery(target).hasClass('non-flippable') || jQuery(target).parents('.non-flippable')[0])) {
                    jQuery(this).toggleClass('flip');
                }
            });

            jQuery('.fc-next').on('click',  function(e) {
                jQuery(this).parents('.newcard').toggleClass('flip');
            });

            $('textarea').on('keyup', function() {
                $(this).css('height', 'auto').height($(this).prop('scrollHeight'));
            });

            // make the overlay and show the list
            jQuery('.copyto-cardlist').on('click', function(e) {
                jQuery('.overlay').fadeIn();
                var content = jQuery(this).siblings('.copyto-cardlist-list').html();
                jQuery('#modal').html(content).fadeIn();
            });

            jQuery('.overlay').on('click', function(e) {
                jQuery(this).fadeOut();
                jQuery('#modal').fadeOut();
            })

        });



    </script>

{% endblock %}


