{% extends "base.html" %}

{% block content_title %}<h1>Your Card Stacks</h1>{% endblock %}
{% block header %}
{% endblock %}

{% block content %}

    {% if cardlist_list %}
        <ul id="cardlist-list">
            {% for cardlist in cardlist_list %}
                <li><a href="{% url 'cards:cardlist' cardlist.id %}">{{ cardlist.cardlist_name }}</a></li>
            {% endfor %}
            <li>
                <form action="{% url 'cards:newcardlist' %}" method="post">
                    <span>New Stack:</br>
                    {% csrf_token %}
                        <input class="line-input empty-on-click" name="cardlist_name" type="text" value=""/>
                        <button class="small-button new-cardlist-button" type="submit"><i class="fa fa-paper-plane"></i></button>
                    </span>
                </form>
            </li>
        </ul>
    {% else %}
        <div class="text-content"><p>You haven't got any cardlists.</p></div>
    {% endif %}
{% endblock %}
