{% extends "base.html" %}

<title>{% block title %}{{ cardlist_name }}{% endblock %}</title>

{% block header %}
<a href="{% url 'logout' %}">Log out</a>
{% endblock %}

{% block content_title %}<h1>{{ cardlist_name }}</h1>{% endblock %}

{% block content %}

{% if card_list %}
    <script>
    $( document ).ready(function() {
        jQuery('.flip-container').on('click', function () {
            jQuery(this).toggleClass('flip');
        })
    });
    </script>
    <div id="card_list">
    {% for card in card_list %}
        <div class="card flip-container">
            <div class="card-helper flipper">
                    <div class="card_question front"><div class="valign">{{ card.card_question }}</div></div>
                    <div class="card_answer back"><div class="valign">{{ card.card_answer }}</div></div>
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>This Carddeck doesn't contain any cards.</p>
{% endif %}
{% endblock %}
