body {
    font-family: 'Open Sans', sans-serif;

}

.text-content {
    margin-left:1em;
    margin-right:1em;
}

#header {
    padding:1em;
}

.header-element a {
    text-decoration: none;
    margin-right:1em;

}

.header-element,
.header-element-separator {
    float:left;
}

#contenttitle h1 {
    white-space: nowrap;
    font-size: 5vw;
    padding:0.5em;
    transition: 1s;
    -webkit-transition: 1s;
}

@media screen and (max-width: 410px) {
    #contenttitle h1 {
        text-align: center;
        font-size: 5vw;
    }
}

@media screen and (min-width: 600px) {
    #contenttitle h1 {
        font-size: 2em;
    }
}

#header {
    overflow:hidden;
}

#header input {
    border:0;
    border-bottom: 1px dotted grey;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    font-size:100%;
    font-family:inherit;
    text-align:inherit;
    outline: none;
}

#card-list {
    /* subsequent divs should start below */
    overflow:hidden;
}

#cardlist-list {
    font-size: 1.1em;
    margin-left:1em;
}

#cardlist-list li {
    padding:5px;
}

.card {
    font-size:1.9em;
    margin:30px;
    float:left;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    height:250px;
    width:350px;
    transition: 1s;
    -webkit-transition: 1s;
}

/* this is smaller than a card! We have to shrink the cards */
@media screen and (max-width: 410px) {
    .card {
        font-size: 6vw;
        height:214px !important;
        width:300px !important;
        float:none;
        margin: 15px auto 15px auto;
    }

    /* We need to set height & width twice because
        answer and question are set to absolute (front and back)
        and are not affected by the card's dimensions.
    */

    .card_answer, .card_question {
        height:214px !important;
        width:300px !important;
    }
}

.card .card_answer {
    font-style:italic;
}

.card_answer, .card_question {
    border: #CCCCCC solid 1px;
    background-color: #F5F5F5;
    text-align: center;
    width: 100%;
    box-shadow: 4px 4px 4px #CCCCCC;
    overflow:hidden;
    height:250px;
    width:350px;
}

.fc-next, .fc-submit {
    display:block;
    position:absolute;
    bottom:5px;
    right:5px;
    font-size:14px !important;
}

#card-list textarea {
    background-color: transparent;
    border:none;
    border-bottom: 1px dotted grey;
    outline:none;
    font-size:100%;
    font-family:inherit;
    text-align:inherit;
    display:inline-block;
    vertical-align:middle;
    width:95%;
    max-height:100%;
    resize:vertical;
    outline: none;
    /* text-decoration: underline; */
}

.valign {
    vertical-align:middle;
    display:table-cell;
}

/* entire container, keeps perspective */


.flip-container, .front, .back {
    display:table;
}

/* flip speed goes here */
.flipper {
	transition: 1s;
    -webkit-transition: 1s;
	transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}


/* on click transformation */
.flip-container.flip .flipper,
.newcard.flip .flipper {
	transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.small-button {
    background:none;
    border:none;
}

.big-button {
    display:inline-block;
    text-decoration: none;
    margin:15px;
    padding: 10px 15px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.big-button:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

.big-button:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}

.login input,
.line-input {
    background-color: transparent !important;
    border: none;
    border-bottom: 1px dotted grey;
    outline: none;
    font-family: inherit;
    text-align: inherit;
    outline: none;
}

.login input {
    font-size: 1.5em;
    margin:10px;
    line-height: 2em;
}

/* unvisited link */
a:link {
    color: inherit;
}

/* visited link */
a:visited {
    color: inherit;
}

/* mouse over link */
a:hover {
    color: inherit;
}

/* selected link */
a:active {
    color: inherit;
}

.is-new {
    color: #cacaca;
    font-size:11px;
    position:absolute;
    bottom:5px;
    right:5px;
}