body {
    font-family: 'Open Sans', sans-serif;
    padding:1em;
}

#content {
}

.text-content {
    padding:0.5em;
}

@media screen and (max-width: 410px) {
    body {
        margin:0;
        padding:0;
    }

    #header {
        padding:0.5em;
    }

    .text-content {
        padding:1em;
    }
}

#header {
    overflow:hidden;
}



#header input {
    border:0;
    border-bottom: 1px dotted grey;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    font-size:100%;
    font-family:inherit;
    text-align:inherit;
    outline: none;
}

.header-element a {
    text-decoration: none;
    margin-right:1em;

}

.header-element {
    float:left;
    line-height:2em;
}

.header-element #header-logo {
    height:2em;
    margin-right: 1em;
}

#toolbar {
    margin-bottom:1.5em;
    overflow:hidden;
}

#contenttitle h1 {
    white-space: nowrap;
    font-size: 5vw;
    transition: 1s;
    -webkit-transition: 1s;
}

@media screen and (max-width: 410px) {
    #contenttitle h1 {
        text-align: center;
        font-size: 5vw;
    }
}

@media screen and (min-width: 600px) {
    #contenttitle h1 {
        font-size: 2em;
    }
}

#card-list {
    /* subsequent divs should start below */
    overflow:hidden;

}

#cardlist-list {
    /* the ul that contains the list of cardlists in the index screen */
    font-size: 1.1em;
    margin-left:25px; /* to counterweight the -23px from the :before tag below */
}


.fa-cardlist-icon {
    list-style-type: none;
}

.fa-cardlist-icon:before {
    /* http://astronautweb.co/snippet/font-awesome/ */
    font-family: 'FontAwesome';
    content: "\f02c"; /* equals fa-tags */
    margin:0 3px 0 -23px;
    color: inherit;
}

#cardlist-list li {
    padding:5px;
}

#cardlist-list .new-cardlist {
    margin-top:0.5em;
}

.card {
    display:table;
    font-size:1.9em;
    margin:30px;
    float:left;
    height:250px;
    width:350px;
    cursor:pointer;
    /* maannn... http://stackoverflow.com/questions/13620670/prevent-clickable-div-from-being-highlighted-in-android-webview */
    -webkit-tap-highlight-color:transparent;
}

.card, .card_answer, .card_question {
    display:table;
    height:250px;
    width:350px;
}

/* this is smaller than a card! We have to shrink the cards */
@media screen and (max-width: 410px) {
    .card {
        font-size: 6vw;
        float:none;
        margin: 15px auto 15px auto;
    }

    /* We need to set height & width twice because
        answer and question are set to absolute (front and back)
        and are not affected by the card's dimensions.
    */

    .card, .card_answer, .card_question {
        height:214px !important;
        width:300px !important;
    }
}

.card .card_answer {
    font-style:italic;
}

.card_answer,
.card_question {
    border: rgba(204, 204, 204, 1) solid 1px;
    background-color: rgba(245, 245, 245, 1);
    color: rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 4px rgba(204, 204, 204, 1);
    text-align: center;
    /* in case somebody uses aaa/bbb/ccc/ddd... */
    word-break: break-all;

}

.newcard .card_answer,
.newcard .card_question {
    border: rgba(204, 204, 204, 0.4) solid 1px;
    background-color: rgba(245, 245, 245, 0.4);
    box-shadow: 4px 4px 4px rgba(204, 204, 204, 0.4);
    color: rgba(0, 0, 0, 0.4);
}

.fc-next, .fc-submit {
    display:block;
    position:absolute;
    bottom:5px;
    right:5px;
    font-size:14px !important;
    padding:0.5em;
    cursor:pointer;
}

.newcard textarea {
    background-color: transparent;
    border:none;
    border-bottom: 1px dotted grey;
    outline:none;
    font-size:100%;
    font-family:inherit;
    text-align:inherit;
    display:inline-block;
    vertical-align:middle;
    width:95%;
    max-height:350px;
    resize:vertical;
    outline: none;
    /* text-decoration: underline; */
}

.valign {
    vertical-align:middle;
    display:table-cell;
    width:100%;
}


/* This works only because of that guy:
    http://www.cssplay.co.uk/menu/css3-3d-card.html
*/

.flip-container {
    position: relative;
}

.flip-container .back,
.flip-container .front {
	position:absolute;
	left:0;
	top:0;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.flip-container .back {
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transform: perspective(1000px) rotateY(180deg);
	-webkit-transform: perspective(1000px) rotateY(180deg);
	transform: perspective(1000px) rotateY(180deg);
}

.flip-container .front {
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transform: perspective(1000px) rotateY(0deg);
	-webkit-transform: perspective(1000px) rotateY(0deg);
	transform: perspective(1000px) rotateY(0deg);
}

.flip-container.flip .back {
	-moz-transform: perspective(1000px) rotateY(0);
	-webkit-transform: perspective(1000px) rotateY(0);
	transform: perspective(1000px) rotateY(0);
}

.flip-container.flip .front {
	-webkit-transform: perspective(1000px) rotateY(-179.9deg);
	-moz-transform: perspective(1000px) rotateY(-179.9deg);
	transform: perspective(1000px) rotateY(-179.9deg);
}



.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.small-button {
    background:none;
    border:none;
    padding:5px;
}

.big-button {
    display:inline-block;
    text-decoration: none;
    margin:15px;
    padding: 10px 15px;
    background: rgba(241,90,36,0.9);
    border: solid 1px rgba(224, 59, 0, 0.9);
    color: white !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor: pointer;
}

.big-button:hover {
    background: rgba(241,90,36,1);
    border: solid 1px rgba(224, 59, 0, 1);
    text-decoration: none;
}

.big-button:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: rgba(241,90,36,1);
    border: solid 1px rgba(224, 59, 0, 1);
}

.login input,
.line-input {
    background-color: transparent !important;
    border: none;
    border-bottom: 1px dotted grey;
    outline: none;
    font-family: inherit;
    text-align: inherit;
    outline: none;
    width: 80%;
    max-width:400px;
    line-height:2em;
}

.login input {
    font-size: 1.5em;
    margin:10px;
    line-height: 2em;
}

/* reset link color */
a:link {color: inherit;}
a:visited { color: inherit;}
a:hover {color: inherit;}
a:active {color: inherit;}


/* a little flag in the lower right corner of flashcards that shows
whether a card has been created <24 hours ('NEW') */
.is-new {
    color: #cacaca;
    font-size:11px;
    position:absolute;
    top:5px;
    left:5px;
}

.card-actions {
    position:absolute;
    top:0;
    right:0;
    padding:5px;
    color: rgba(150, 150, 150, 0.7);
    font-size:12px;
}

.card-actions > div {
    float:right;
    margin-left:3px;
    cursor: pointer;
}

.card-actions > div:hover {
    color: rgba(150, 150, 150, 1);
}


.copyto-cardlist-list {
    display:none;
}


.card-save-actions {
    position:absolute;
    bottom:0;
    right:0;
    padding:10px;
    color: rgba(150, 150, 150, 0.7);
    font-size:17px;
    display:none;
}

.card-save-actions > div {
    float:right;
    margin-left:5px;
    cursor: pointer;
}

.card-save-actions > div:hover {
   color: rgba(150, 150, 150, 1);
}

div:focus {outline:0;}
/*
prevent blue border on contenteditable
http://stackoverflow.com/questions/20340138/remove-blue-border-from-css-custom-styled-button-in-chrome
*/

/* a fix for firefox contenteditable text selection

 and Safari
 http://stackoverflow.com/questions/20823468/user-selectnone-breaking-safari-contenteditable

 */

div[contenteditable=true] {
    -moz-user-select: text;
    -webkit-user-select : text;
}

/* the messages on top below the view title that are fed from django.utils.messages */

.info { color: grey }

.warning { color: orange}

.error { color: red}

.debug { color: lightgrey}

.success {color: green}