{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block header %}
    <div class="header-element">
        <a href="{% url 'cards:cardlist_index' %}"><i class="fa fa-home"></i> home</a>
    </div>
{% endblock %}

{% block content_title %}<h1>Profile</h1>{% endblock %}
{% block content %}
    <div class="text-content login">
        <p>Username: {{ user }}</p>

        <a class="big-button" href="{% url 'password_change' %}">Change your password</a>
    </div>

{% endblock %}
